body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;

}

nav {
    overflow: hidden;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}
p {
    font-family: 'IBM Plex Mono', monotype;
    font-weight: 400;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    text-align: left;
    display: block;
    max-width: 100rem;
    margin-top: -10px;
    margin-left: 5%;
    margin-right: 5%;

}   

h3 {
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
}
a {
    text-align: left;
    padding: 0;
    margin: 0;
}

.menu ul {
    /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/
    width: 100%;
    position: absolute;
    right: 0;
    margin-top: 5%;
    overflow: hidden;
    list-style: none;
    height: 0;
    transition: height 0.5s ease;
    z-index: 3;
}
.menu  ul li {
    position: relative;
} 

.menu ul li a {
    position: relative;
    text-align: left;
    text-decoration: none;
    color: white;
    opacity: 0.56;
    padding: 0;
    margin: 0;
    line-height: 28px;
    display: block;
}
.menu  ul li a:hover {
    color: #fff;
} 

label {
    display: none;
    position: absolute;
    margin: 25%;
    
}

li {
    display: block;
    background: #0000EC;
    box-sizing: content-box;
    width: 100%;
    padding: 5%;
    list-style: none;
    font-family: 'IBM Plex Mono', monotype;
    font-size: 16px;
    color: white;
    line-height: 28px;
}


/*animación del menu que se desplega*/
input[type="checkbox"]:checked ~ ul {
    height: 240px;
    transform: translateX(0);
    transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
}

/*checkbox transparente y en primer plano*/
.menu input {
    display: block;
    width: 40px;
    height: 32px;
    opacity: 0;
    z-index: 2;
    position: absolute;
}
/* menu hamburguesa */

.menu span {
    display: block;
    width: 25px;
    height: 2.5px;
    margin-bottom: 6.5px;
    position: relative;
    background: #000;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.5s ease,
        opacity 0.55s ease;
}

/*movimiento a cruz*/
.menu span:first-child {
    transform-origin: 0% 0%;
}
.menu span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
.menu input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(2px, 1px);
}
.menu input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
.menu input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(1px, 0px);
}

input:checked ~ ul {
    display: block;
    height: 240px;
    transform: translateX(0);
    transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;

}

/* comienza header */
header {
    width: 100vw;
    /* height: 70vh; */
}
h1 {
    font-family: 'IBM Plex Sans', monotype;
    font-weight: 400;
    font-size: 36px;
    color: #060A24;
    line-height: 42px;
    margin-left: 5%;
    
}

h2 {
    font-family: 'IBM Plex Sans', monotype;
    font-weight: 400;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    max-width: 80%;
    margin-left: 5%;

}  
/* cambiar a medium la tipografia en button, cambiar en libreria html tmb */
button {
    font-family: 'IBM Plex Mono', monotype;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #060A24;
    letter-spacing: 0;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    background-color: #00F3BB;
    text-transform: uppercase;
    border: none;
    margin: 5%;
    width: 90%;
    height: 20%;
    max-width: 320px;

}

/* comienza seccion podcasts */
section {
    margin: 0;
}

.h2episodios {
    color: white;
    text-align: left;
    margin-left: 7% 0 7% 0;


}

.sectionskew {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    padding: 10% 0 50% 0;

}


div.podcast {
    margin: 5%;
    max-width: 584px;
    max-height: 232px;
    width: 90%;

}

/* comienza seccion iphone */


div.sectioniphoneflex-container {
    margin-left: 5%;
    padding-top: -15%;
    /* position: absolute; */


}

.h2novedades {
    color: white;
    text-align: center;

}

div.imageniphone {
    /* position: relative; */
    width: 100vw;
    max-width: 90%;
    text-align: center;
    max-width: 457.6px;
    margin-top: -5%;
    
}

img.iphone {
    width: 90%;
    min-width: 320px;
    max-width: 457.6px;
    padding:0;

}
/* comienza seccion grilla de imagenes */

div.invitadosestelares {
    /* position: absolute; */
    margin: 0;


}

img.estelar {
    max-width:450px;
    /* position: relative;  */
    margin-right: 0;

}

.tachado {
    text-decoration: line-through;
} 
/* EMPIEZA BLOQUE TEMAS */
div.bloquetemas {
    width: 60%;
    display: inline;
}
div.bloquetemasflex-container {
    /* max-width: 80%; */

}
div.bloquecontainer {
    /* display: inline; */
}

img.imgtema {
    width: 104px;
    margin: 5%;
}

/* 
.skewdos {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    padding: 10% 0 0 0;
    margin-top: 20%;


}

.ultimasnovedadescontainer {
    padding-bottom: 30%;


}

footer {
    background-color: white;
    width: 100%;
    position:relative;
    content: 100%;
    align-content: center;
    margin-top: -15%
}
.footericons {
    text-align: center;
    background-color: white;
    width: 100%;

}  
a {
    text-align: center;
    display: inline-block;
    margin: 4.5%;
    padding:1%;
}  

.pfooter {
    text-align: center;
    padding-top: 10%;


} */

@media screen and (min-width: 320px) {

    div.podcastflex-cointainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    
    }
    
    div.podcast {
          flex-basis: calc(100%/2);
          margin: 3%;
          float: left;
          width: 90%;
          height: 90%;
    
    }

    div.sectioniphoneflex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    div.dedondevenimos {
        float:left;
        flex-basis: calc(100%/2);
        max-width: 50%;

    }

    div.invitadosflex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;

    }
    img.estelar {
        flex-basis: calc(100%/3);

    }

    div.bloquetemasflex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;

    }
    .bloquetemas {
        flex-basis: calc(80%/4);
        float: left;
    } 
    img.imgtema {

        float: left;
    }
    h3 {
  
        float: left;
    }
    } 
